# --- MLOps & Data ---
.cache/

# --- Sécurité & Environnement ---
# Ne JAMAIS pusher les clés API ou les tokens Hugging Face 
.env
.secrets
.python-version

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store